@page "/login"
@using FoodApiC.Models
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IJSRuntime Js
<h3>Login</h3>

<EditForm Model="userModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label class="form-label">Username</label>
        <InputText class="form-control" @bind-Value="userModel.Username" />
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <InputText type="password" class="form-control" @bind-Value="userModel.Password" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    private User userModel = new User();
    private string errorMessage;

    private async Task HandleLogin()
    {
        try
        {
            var response = await HttpClient.PostAsJsonAsync("api/token", userModel);

            if (response.IsSuccessStatusCode)
            {
                var token = await response.Content.ReadAsStringAsync();
                Console.WriteLine($"Received Token: {token}");

                // Lưu token vào local storage hoặc session storage nếu cần thiết
                // Redirect tới trang khác sau khi đăng nhập thành công
                NavigationManager.NavigateTo("/");
            }
            else
            {
                errorMessage = "Invalid credentials";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred: {ex.Message}";
        }
    }


}
